.website-types {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .website-types h1 {
    text-align: center;
    color: #fff;
  }
  .service-link {
    text-decoration: none; /* Remove underline from links */
  }
  
  .service-link:hover {
    text-decoration: none; /* Remove underline on hover */
  }
  
  .website-types hr{
    width: 60%;
    color: #fff;
    margin: 2px auto;
   font-weight: bold;
    
  }
  .website-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .website-card {
    cursor: pointer;
    background-color: #fff;
    padding: 20px;
    margin-top: 60px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .website-card:hover {
    transform: translateY(-5px);
  }
  
  .website-card h2 {
    font-size: 2vw;
    margin-top: 0;
  }
  
  .website-card p {
    font-size: 1.2vw;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .website-image {
    width: 100%;
    border-radius: 8px;
  }
  @media only screen and (max-width: 600px) {
    .website-grid {
      grid-template-columns: 1fr; 
    }
  
    .website-card {
      margin-top: 20px;
      margin-bottom: 20px;  }
  
    .website-types {
      margin-top: 100px; 
    }
  }